<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="/css/main.css" rel="stylesheet" type="text/css">

<html>
<head>
  <title>Will Gant tech test</title>
</head>
<body>
  <form action="/company" method="post" accept-charset="utf-8" id="company_input">
    <input type="text" name="content" />
    <input type="submit" value="Search">
  </form>

  <% if(typeof data != 'undefined') { %>
    <% data = JSON.parse(data) %>
    <div class="w3-card-4" id="card">
      <header class="w3-container w3-blue">
        <h1 id="company_name"><%= data.name %></h1>
      </header>

      <p id="ticker_price"><%= data.tickerCode + ' ' + data.latestPrice %>  </p>
      <% for(i = 0; i != 2; i++) { %>
        <div class="w3-row">
          <div class="w3-col s10 w3-green w3-center">
            <h3 id=<%="headline" + (i+1) %> class="news_headline"> <%= data.news[i].headline %></h3>
            <p id=<%="story" + (i+1) %> class="news_text"> <%= data.news[i].body %></p>
          </div>
          <div class="w3-col s2 w3-white w3-center">
            <% if(data.news[i].sentiment == 'positive') { %>
              <img src='/images/happy.png' id='happy_smiley' class='smiley'>
              <% } else if(data.news[i].sentiment == 'neutral') {%>
                <img src='/images/neutral.png' id='neutral_smiley' class='smiley'>
                <% } else if(data.news[i].sentiment == 'negative') {%>
                  <img src='/images/sad.png' id="sad_smiley" class='smiley'>
                  <% } %>
                </div>
              </div>
              <% } %>
            </div>
            <% } %>
            <% if(typeof error != 'undefined') { %>
              <br>
              <p class="error">Unable to retrieve data matching the company name provided</p>
              <p class="error">Error details: <%= error %></p>
            <% } %>
          </body>
          </html>
